# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools         |
| -------------------------- |
| Jupyter notebook           |
| Rstudio.                   |
| VS code with Python plugin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
result = (3 * 4) + 5
print ("result:", result)

result: 17

In [4]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/ 60
print("200 minutes is equal to", hours, "hours")

200 minutes is equal to 3.3333333333333335 hours

**Objectives:**
- List popular languages for data science
- Summarize data science tools and ecosystem
- Convert minutes to hours

## Author
Manik Sharma